* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.public-header {
  background: hsla(10, 82%, 65%, 1);
  background: linear-gradient(360deg, hsla(10, 82%, 65%, 1) 0%, hsla(10, 90%, 92%, 1) 100%);
  background: -moz-linear-gradient(360deg, hsla(10, 82%, 65%, 1) 0%, hsla(10, 90%, 92%, 1) 100%);
  background: -webkit-linear-gradient(360deg, hsla(10, 82%, 65%, 1) 0%, hsla(10, 90%, 92%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#EF745C", endColorstr="#FDDFD9", GradientType=1);
}